@import '../common';

.navbar {
  height: 1.8rem;
  background-color: var(--primaryColor);
  padding: 1rem;

  & .nav-links, & .logo {
    display: inline-block
  }

  & .logo {
    color: var(--lightTextColor);
    margin-right: 50%;
  }

  & .nav-links {
    & span {
      color: var(--lightTextColor);
      font-size: 1.6rem;
    }
  }
}
