@import './common/common';

.app {
  height: 100%;
  background-color: var(--lightBgColor);

  & md-toolbar {
    height: 56px;
    min-height: 56px;
  }

  & .title {
    margin: auto;
    font-size: 1.250em;
    font-weight: 400;
  }
}
